<h1>Add Your Quote</h1>
<hr>
<div class="quote-container">

  <ul *ngFor='let quote of quotes;let i =index'>
    <div *ngIf="quote.upvotes==highest; then highlight else empty"></div>
    <app-myvotes></app-myvotes>
    <app-quote-details></app-quote-details>
    <ng-template #highlight>
      <li appHighlight> {{quote.quote}}
      </li>
      {{quote.dateposted|date}}
      <p>posted {{quote.dateposted|dateCount}} days ago</p>
    </ng-template>
    <ng-template #empty>
      <li> {{quote.quote}}
      </li>
    </ng-template>
  </ul>
</div>



<div class="col-md-12">
  <h2>Form</h2>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
