<div class="container-fluid">
  <hr>
  <form>
    <div class="form-group">

      <label class="" for="name">Poster's Name</label>
      <input type="text" required class="form-control" id="name">

    </div>
    <div class="form-group">

      <label for="name">AUthor's Name</label>
      <input type="text" required class="form-control" id="name">
    </div>
  <div class="form-group">

    <label for="description">Quote</label>
    <textarea class="form-control" id="quote-text" rows="4" required></textarea>

  </div>


  </form>
</div>
