.container-fluid {
  background-color: lightgray;
  border-radius: 4px;
  padding-bottom: 5%;
  box-shadow: 2px 2px 3px 2px black;
  height: 530px;
  margin-top: 20px;
  margin-bottom: 100px;
  width: 80%;
}
label {
  
  color: green;
  font-weight: 500;
}
.btn{
  width:130px;
  height:40px;

}
.form-control{
  background: transparent;
  font-weight: 570;
  border: 1px solid black;
  
}
